################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/AIS Polyclinic/AIS Polyclinic/bin/Debug/materials/Воробьев.DOC
/AIS Polyclinic/AIS Polyclinic/bin/Debug/materials/Зайцев.DOC
/AIS Polyclinic/AIS Polyclinic/bin/Debug/materials/Зайцев1.DOC
/AIS Polyclinic/AIS Polyclinic/bin/Debug/materials/Зрение.DOC
/AIS Polyclinic/AIS Polyclinic/bin/Debug/materials/Козлов.DOC
/AIS Polyclinic/AIS Polyclinic/bin/Debug/materials/Кузнецов.DOC
/AIS Polyclinic/AIS Polyclinic/bin/Debug/materials/Кузнецов1.DOC
/AIS Polyclinic/AIS Polyclinic/bin/Debug/materials/Сидоров.DOC
